/* Import Tailwind */
@import "tailwindcss";

/* Import plugins */
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';

/* Custom theme tokens */
@theme {
  --color-primaryblue20: #ced2fd;
  --color-primaryblue40: #7b87fa;
  --color-primaryblue60: #394df7;
  --color-primaryblue80: #2632a5;
  --color-primaryblue100: #131952;

  --color-beige: #fbf5ec;

  --color-orange20: #ffd699;
  --color-orange40: #ffb366;
  --color-orange60: #ff8c00;
  --color-orange80: #cc7000;
  --color-orange100: #994f00;

  --color-green20: #d6e6cd;
  --color-green40: #b0d4a0;
  --color-green60: #80b878;
  --color-green80: #5d8c56;
  --color-green100: #3a5f34;
}

/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ultra&display=swap");

/* Base layer med typografi */
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    h1 {
      font-family: "Crete Round";
    }
    h2 {
      font-family: "DM sans", sans-serif;
      @apply text-primaryblue60;
    }

    h3,
    h4,
    h5,
    h6,
    p,
    li,
    a {
      @apply text-primaryblue100;
      font-family: "DM sans", sans-serif;
    }

    /* a til links i header */
    a {
      @apply text-base;
    }

    p {
      @apply mb-6;
    }
    div {
      font-family: "DM sans", sans-serif;
      @apply text-primaryblue60;
    }
    button {
      font-family: "DM sans", sans-serif;
      @apply text-primaryblue100;
      @apply text-lg;
    }

    span {
      @apply text-beige;
    }
  }
}

@layer components {
}
@layer utilities {
}
