---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import Heading from "../components/Heading.astro";
import Blogcard from "../components/Blogcard.astro";
import heroimage3 from "../assets/images/heroimage3.webp";
---

<MainLayout>
  <!-- Hero section -->

  <section
    class="w-full bg-gradient-to-b from-[#D6E6CD] to-[#FBF5EC] py-20 px-6"
  >
    <div
      class="max-w-7xl mx-auto grid grid-cols-1 lg:grid-cols-2 gap-16 items-center"
    >
      <!-- Headline & Tagline -->
      <div class="flex flex-col gap-2">
        <Heading htmlheading="h1" size="xlarge">Blog</Heading>

        <p class="max-w-xl">
          Udforsk blog indlæg der er fyldt med viden, indsigt og inspiration til
          din hverdag.
        </p>

        <div class="mt-4">
          <Button variant="secondary" size="medium"> Se ugens tema </Button>
        </div>
      </div>

      <!-- Hero image -->
      <div class="relative w-full max-w-[370px] mx-auto">
        <!-- Orange outline -->
        <div
          class="absolute right-0 top-10 h-[85%] w-[90%] border-3 border-orange60
           rounded-3xl border-l-0 border-t-0"
        >
        </div>

        <div class="relative rounded-3xl p-4">
          <Image
            src={heroimage3}
            alt="People happy"
            class="rounded-3xl w-full h-auto object-cover"
          />
        </div>
      </div>
    </div>
  </section>

  <section class="text-center px-4">
    <Heading htmlheading="h2" size="large" stylingclasses="text-orange"
      >Se events for dagene her!</Heading
    >
    <div x-data="{ dagaktiv: 'Alle blogs' }">
      <!-- Knapper til alle blogs -->
      <div
        class="flex flex-col items-center gap-6 lg:flex-row lg:justify-center lg:gap-13 mb-10"
      >
        <button
          @click="dagaktiv = 'alleblogs'"
          class="filter-btn text-darkblue border-2 border-darkblue hover:border-orange hover:text-orange transition rounded-xl cursor-pointer px-12 p-4 bg-beige"
          :class="{ 'bg-darkyellow': dagaktiv === 'alleblogs' }"
        >
          Alle blogs
        </button>

        <button
          @click="dagaktiv = 'dag2'"
          class="filter-btn text-darkblue border-2 border-darkblue hover:border-orange hover:text-orange transition rounded-xl cursor-pointer px-12 p-4 bg-beige"
          :class="{ 'bg-darkyellow': dagaktiv === 'dag2' }"
        >
          d. 24 juli
        </button>

        <button
          @click="dagaktiv = 'dag3'"
          class="filter-btn text-darkblue border-2 border-darkblue hover:border-orange hover:text-orange transition rounded-xl cursor-pointer px-12 p-4 bg-beige"
          :class="{ 'bg-darkyellow': dagaktiv === 'dag3' }"
        >
          d. 25 juli
        </button>

        <button
          @click="dagaktiv = 'dag4'"
          class="filter-btn text-darkblue border-2 border-darkblue hover:border-orange hover:text-orange transition rounded-xl cursor-pointer px-12 p-4 bg-beige"
          :class="{ 'bg-darkyellow': dagaktiv === 'dag4' }"
        >
          d. 26 juli
        </button>
      </div>
      <!-- Alle blogs -->
      <!-- grid til cards -->
      <Blogcard
        url="/singleview"
        cardimage="venner.jpg"
        cardimagealt="To venner"
        category="Venskab"
        categoryColor="bg-green40"
        date="2. april 2025"
        author="Anne P."
        cardtitle="Det nemme venskab er en illusion"
      />

      <Blogcard
        url="/singleview"
        cardimage="angst.jpg"
        cardimagealt="Ung med computer"
        category="Angst"
        categoryColor="bg-primaryblue60"
        date="3. december 2024"
        author="Anne P."
        cardtitle="Sådan falder du i søvn selvom du har tankemylder"
      />
    </div>
  </section>
</MainLayout>
