---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import Heading from "../components/Heading.astro";
import Blogcard from "../components/Blogcard.astro";
import heroimage3 from "../assets/images/heroimage3.webp";
import image8 from "../assets/images/image8.webp";
import Slider from "../components/Slider.astro";
import Form from "../components/Form.astro";
---

<MainLayout>
  <!-- Hero section -->

  <section
    class="w-full bg-gradient-to-b from-[#D6E6CD] to-[#FBF5EC] py-20 px-6"
  >
    <div
      class="max-w-7xl mx-auto grid grid-cols-1 lg:grid-cols-2 gap-16 items-center"
    >
      <!-- Headline & Tagline -->
      <div class="flex flex-col gap-2">
        <div class="animate__animated animate__fadeInLeft animate__once">
          <Heading htmlheading="h1" size="xlarge">Blog</Heading>
        </div>
        <Heading htmlheading="h3" size="small">
          Udforsk blog indlæg der er fyldt med viden, indsigt og inspiration til
          din hverdag.
        </Heading>

        <div class="mt-4">
          <Button variant="secondary" size="medium"> Se ugens tema </Button>
        </div>
      </div>

      <!-- Hero image -->
      <div class="relative w-full max-w-[370px] mx-auto">
        <!-- Orange outline -->
        <div
          class="absolute right-0 top-10 h-[85%] w-[90%] border-3 border-orange60
           rounded-2xl border-l-0 border-t-0"
        >
        </div>

        <div class="relative rounded-3xl p-4">
          <Image
            src={heroimage3}
            alt="People happy"
            class="rounded-2xl w-full h-auto object-cover"
          />
        </div>
      </div>
    </div>
  </section>
  <!-- blog section -->

  <section class="mt-40 text-center px-4">
    <!-- Alle blogs vises ved indlæsning -->
    <div x-data="{ dagaktiv: 'alleblogs' }">
      <!-- Filter knapper -->
      <div
        class="flex flex-col items-center gap-6 lg:flex-row lg:justify-center lg:gap-13 mb-10"
      >
        <!-- Alle blogs -->
        <button
          @click="dagaktiv = 'alleblogs'"
          class="filter-btn text-white border-2 border-orange100 transition rounded-xl cursor-pointer px-12 py-2"
          :class="dagaktiv === 'alleblogs' ? 'bg-orange100' : 'bg-orange60'"
        >
          Alle blogs
        </button>

        <!-- Angst -->
        <button
          @click="dagaktiv = 'angst'"
          class="filter-btn text-white border-2 border-orange100 transition rounded-xl cursor-pointer px-12 py-2"
          :class="dagaktiv === 'angst' ? 'bg-orange100' : 'bg-orange60'"
        >
          Angst
        </button>

        <!-- Ensomhed -->
        <button
          @click="dagaktiv = 'ensomhed'"
          class="filter-btn text-white border-2 border-orange100 transition rounded-xl cursor-pointer px-12 py-2"
          :class="dagaktiv === 'ensomhed' ? 'bg-orange100' : 'bg-orange60'"
        >
          Ensomhed
        </button>

        <!-- Venskaber -->
        <button
          @click="dagaktiv = 'venskaber'"
          class="filter-btn text-white border-2 border-orange100 transition rounded-xl cursor-pointer px-12 py-2"
          :class="dagaktiv === 'venskaber' ? 'bg-orange100' : 'bg-orange60'"
        >
          Venskaber
        </button>
      </div>
      <!-- Alle blogs -->
      <!-- grid til cards -->
      <div
        class="grid place-items-center grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-15 p-4 max-w-5xl mx-auto mb-20 eventcards"
        x-show="dagaktiv === 'alleblogs'"
      >
        <Blogcard
          url="/singleview"
          cardimage="blog1.webp"
          cardimagealt="To venner"
          category="Venskab"
          categoryColor="bg-green40"
          date="2. april 2025"
          author="Anne P."
          cardtitle="Det nemme venskab er en illusion"
        />

        <Blogcard
          url="/singleview"
          cardimage="blog2.webp"
          cardimagealt="2 venner"
          category="Venskab"
          categoryColor="bg-green60"
          date="4 februar 2025"
          author="Anne P."
          cardtitle="5 konkrete tips til at få nye venner"
        />
        <Blogcard
          url="/singleview"
          cardimage="blog3.webp"
          cardimagealt="Ung med computer"
          category="Angst"
          categoryColor="bg-primaryblue40"
          date="3. december 2024"
          author="Anne P."
          cardtitle="Sådan falder du i søvn selvom du har tankemylder"
        />
        <Blogcard
          url="/singleview"
          cardimage="blog4.webp"
          cardimagealt="Ensom ung"
          category="Ensom"
          categoryColor="bg-primaryblue80"
          date="1. december 2024"
          author="Anne P."
          cardtitle="Ensomhed: Når man føler sig alene i sommeren"
        />
        <Blogcard
          url="/singleview"
          cardimage="blog5.webp"
          cardimagealt="Ensom ung"
          category="Angst"
          categoryColor="bg-primaryblue40"
          date="24. november 2024"
          author="Anne P."
          cardtitle="Bekymringer, kontrol og travle tanker"
        />

        <Blogcard
          url="/singleview"
          cardimage="blog6.webp"
          cardimagealt="Ensom ung"
          category="Angst"
          categoryColor="bg-primaryblue40"
          date="13. november 2024"
          author="Anne P."
          cardtitle="Tankemylder: skriv, skriv, skriv"
        />
        <Blogcard
          url="/singleview"
          cardimage="blog7.webp"
          cardimagealt="Ensom ung"
          category="Ensom"
          categoryColor="bg-primaryblue80"
          date="2. november 2024"
          author="Anne P."
          cardtitle="Det store venskabsfokus"
        />
        <Blogcard
          url="/singleview"
          cardimage="blog8.webp"
          cardimagealt="3 venner"
          category="Venskab"
          categoryColor="bg-green60"
          date="29. oktober 2024"
          author="Anne P."
          cardtitle="En ven til hver lejlighed"
        />
        <Blogcard
          url="/singleview"
          cardimage="blog9.webp"
          cardimagealt="Ensom ung"
          category="Ensom"
          categoryColor="bg-primaryblue80"
          date="1. oktober 2024"
          author="Anne P."
          cardtitle="Du er ikke alene, selvom det føles sådan"
        />
      </div>
      <!-- Angst-->
      <div
        class="grid place-items-center grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-15 p-4 max-w-5xl mx-auto mb-20"
        x-show="dagaktiv === 'angst'"
      >
        <Blogcard
          url="/singleview"
          cardimage="blog3.webp"
          cardimagealt="Ung med computer"
          category="Angst"
          categoryColor="bg-primaryblue40"
          date="3. december 2024"
          author="Anne P."
          cardtitle="Sådan falder du i søvn selvom du har tankemylder"
        />
        <Blogcard
          url="/singleview"
          cardimage="blog5.webp"
          cardimagealt="Ensom ung"
          category="Angst"
          categoryColor="bg-primaryblue40"
          date="24. november 2024"
          author="Anne P."
          cardtitle="Bekymringer, kontrol og travle tanker"
        />

        <Blogcard
          url="/singleview"
          cardimage="blog6.webp"
          cardimagealt="Ensom ung"
          category="Angst"
          categoryColor="bg-primaryblue40"
          date="13. november 2024"
          author="Anne P."
          cardtitle="Tankemylder: skriv, skriv, skriv"
        />
      </div>

      <!-- Ensomhed-->
      <div
        class="grid place-items-center grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-15 p-4 max-w-5xl mx-auto mb-20"
        x-show="dagaktiv === 'ensomhed'"
      >
        <Blogcard
          url="/singleview"
          cardimage="blog4.webp"
          cardimagealt="Ensom ung"
          category="Ensom"
          categoryColor="bg-primaryblue80"
          date="1. december 2024"
          author="Anne P."
          cardtitle="Ensomhed: Når man føler sig alene i sommeren"
        />
        <Blogcard
          url="/singleview"
          cardimage="blog7.webp"
          cardimagealt="Ensom ung"
          category="Ensom"
          categoryColor="bg-primaryblue80"
          date="2. november 2024"
          author="Anne P."
          cardtitle="Det store venskabsfokus"
        />
        <Blogcard
          url="/singleview"
          cardimage="blog9.webp"
          cardimagealt="Ensom ung"
          category="Ensom"
          categoryColor="bg-primaryblue80"
          date="1. oktober 2024"
          author="Anne P."
          cardtitle="Du er ikke alene, selvom det føles sådan"
        />
      </div>
      <!--Venskaber-->
      <div
        class="grid place-items-center grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-15 p-4 max-w-5xl mx-auto mb-20"
        x-show="dagaktiv === 'venskaber'"
      >
        <Blogcard
          url="/singleview"
          cardimage="blog1.webp"
          cardimagealt="To venner"
          category="Venskab"
          categoryColor="bg-green40"
          date="2. april 2025"
          author="Anne P."
          cardtitle="Det nemme venskab er en illusion"
        />

        <Blogcard
          url="/singleview"
          cardimage="blog2.webp"
          cardimagealt="2 venner"
          category="Venskab"
          categoryColor="bg-green60"
          date="4 februar 2025"
          author="Anne P."
          cardtitle="5 konkrete tips til at få nye venner"
        />
        <Blogcard
          url="/singleview"
          cardimage="blog8.webp"
          cardimagealt="3 venner"
          category="Venskab"
          categoryColor="bg-green60"
          date="29. oktober 2024"
          author="Anne P."
          cardtitle="En ven til hver lejlighed"
        />
      </div>
    </div>
  </section>
  <!-- Citat slider section-->
  <section class="mt-40">
    <Slider />
  </section>

  <!-- Form section-->
  <section
    class="mt-40 mb-20 grid grid-cols-1 lg:grid-cols-2 gap-10 items-center"
  >
    <div><Form /></div>

    <!-- image-->

    <div class="relative w-full max-w-[370px] mx-auto">
      <!-- Orange outline -->
      <div
        class="absolute right-0 top-10 h-[85%] w-[90%] border-3 border-orange60
      rounded-2xl border-l-0 border-t-0"
      >
      </div>

      <div class="relative rounded-2xl p-4">
        <Image
          src={image8}
          alt="2 happy people"
          class="rounded-2xl w-full h-auto object-cover"
        />
      </div>
    </div>
  </section>
</MainLayout>
