---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import Heading from "../components/Heading.astro";
import heroimage4 from "../assets/images/heroimage4.webp";
import image10 from "../assets/images/image10.webp";
---

<MainLayout>
  <!-- Hero sektion -->

  <section
    class="w-full bg-gradient-to-b from-[#D6E6CD] to-[#FBF5EC] py-20 px-6"
  >
    <div
      class="max-w-7xl mx-auto grid grid-cols-1 lg:grid-cols-2 gap-16 items-center"
    >
      <!-- Headline & Tagline -->
      <div class="flex flex-col gap-2">
        <div class="animate__animated animate__fadeInLeft animate__once">
          <Heading htmlheading="h1" size="xlarge">Bliv frivillig</Heading>
        </div>

        <Heading htmlheading="h3" size="small">
          Hos UngTilUng kan du være den, der gør hverdagen lidt lettere for
          andre unge</Heading
        >

        <div class="mt-4">
          <Button variant="secondary" size="small"> Send ansøgning </Button>
        </div>
      </div>

      <!-- Hero sektion-->
      <div class="hidden lg:block relative w-full max-w-[370px] mx-auto">
        <!-- Orange border -->
        <div
          class="absolute right-0 top-10 h-[85%] w-[90%] border-3 border-orange60
       rounded-3xl border-l-0 border-t-0"
        >
        </div>

        <div class="relative rounded-2xl p-4">
          <Image
            src={heroimage4}
            alt="People happy"
            class="rounded-2xl w-full h-auto object-cover"
          />
        </div>
      </div>
    </div>
  </section>

  <!-- Infografik sektion -->

  <section class="mt-10 lg:mt-10 py-16">
    <div class="max-w-6xl mx-auto px-6 text-center">
      <!-- Titel -->
      <Heading htmlheading="h2" size="large">Vil du være med?</Heading>

      <!-- Intro tekst -->
      <p class="max-w-3xl mx-auto mb-15 text-left">
        Stiftet i 2013 med formålet om at hjælpe unge mellem 16–35 år med at
        styrke deres trivsel – gennem digitale initiativer. UngTilUng er drevet
        af et fagligt stærkt team og mere end 100 passionerede frivillige.
      </p>

      <div
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10 items-start"
      >
        <!-- icon 1 -->
        <div class="flex flex-col items-center text-center px-4">
          <div
            class="animate__animated animate__pulse animate__infinite w-20 h-20 rounded-full bg-orange60 flex items-center justify-center mb-6"
          >
            <img src="/earth.svg" alt="earth icon" class="h-10" />
          </div>
          <Heading htmlheading="h2" size="small"
            >100+ frivillige på landsplan</Heading
          >
        </div>

        <!-- icon 2 -->
        <div class="flex flex-col items-center text-center px-4">
          <div
            class="animate__animated animate__pulse animate__infinite w-20 h-20 rounded-full bg-orange60 flex items-center justify-center mb-6"
          >
            <img src="/plant.svg" alt="plant icon" class="h-10" />
          </div>
          <Heading htmlheading="h2" size="small"
            >Udvikl dine kompetencer</Heading
          >
        </div>

        <!-- icon 1 -->
        <div class="flex flex-col items-center text-center px-4">
          <div
            class="animate__animated animate__pulse animate__infinite w-20 h-20 rounded-full bg-orange60 flex items-center justify-center mb-6"
          >
            <img src="/heart.svg" alt="heart icon" class="h-10" />
          </div>
          <Heading htmlheading="h2" size="small"
            >Bliv en del af et stærkt fællesskab</Heading
          >
        </div>
      </div>

      <!-- Info slider sektion -->

      <section class="mt-20 lg:mt-40 relative px-4" x-data="{ info: 'info1' }">
        <div class="max-w-5xl mx-auto">
          <!-- Knapper -->
          <div class="flex flex-col md:flex-row gap-3 mb-6">
            <button
              @click="info = 'info1'"
              :class="info === 'info1' ? 'bg-green20 ring-2 ring-primaryblue100' : 'bg-green20'"
              class="text-left rounded-xl px-4 py-3 border-2 border-primaryblue100 text-primaryblue100 w-full"
            >
              Instagram-ansvarlig
            </button>

            <button
              @click="info = 'info2'"
              :class="info === 'info2' ? 'bg-primaryblue40 ring-2 ring-primaryblue100' : 'bg-primaryblue40'"
              class="text-left rounded-xl px-4 py-3 border-2 border-primaryblue100 text-primaryblue100 w-full"
            >
              Skrive-gruppeleder
            </button>

            <button
              @click="info = 'info3'"
              :class="info === 'info3' ? 'bg-orange20 ring-2 ring-primaryblue100' : 'bg-orange20'"
              class="text-left rounded-xl px-4 py-3 border-2 border-primaryblue100 text-primaryblue100 w-full"
            >
              Fantasy-gruppeleder
            </button>

            <button
              @click="info = 'info4'"
              :class="info === 'info4' ? 'bg-green60 ring-2 ring-primaryblue100' : 'bg-green60'"
              class="text-left rounded-xl px-4 py-3 border-2 border-primaryblue100 text-primaryblue100 w-full"
            >
              Krea gruppeleder
            </button>

            <button
              @click="info = 'info5'"
              :class="info === 'info5' ? 'bg-primaryblue20 ring-2 ring-primaryblue100' : 'bg-primaryblue20'"
              class="text-left rounded-xl px-4 py-3 border-2 border-primaryblue100 text-primaryblue100 w-full"
            >
              Chatter
            </button>
          </div>

          <!-- Indhold -->
          <div
            class="rounded-xl border-2 border-primaryblue100 bg-beige p-8 min-h-[260px]"
          >
            <!-- Slide 1 -->
            <article
              x-show="info === 'info1'"
              x-cloak
              x-transition
              class="space-y-4"
            >
              <div class="text-start">
                <Heading htmlheading="h2" size="large"
                  >Instagram-ansvarlig</Heading
                >
                <p>Frivillig Instagram-ansvarlig (18-35 år)</p>

                <p class="mt-4">
                  UngTilUng søger frivillige til at drive vores Instagram, dele
                  erfaringer om ungdomsudfordringer og skabe et autentisk
                  community.
                </p>

                <p class="mt-4">Dine opgaver:</p>
                <ul class="list-disc list-inside ml-4 space-y-2">
                  <li>Én vagtuge ca. hver 5.-6. uge med 2-3 opslag i Canva.</li>
                  <li>
                    Følge ugentlige temaer som ensomhed, selvværd og studiepres.
                  </li>
                  <li>
                    Dele egne erfaringer for at skabe håb og normalisere, at
                    unge kan have det svært.
                  </li>
                  <li>
                    Henvise til UngTilUngs tilbud som chat og mentorordning.
                  </li>
                </ul>

                <p class="mt-4">Vi søger dig, der:</p>
                <ul class="list-disc list-inside ml-4 space-y-2">
                  <li>Tør dele dine oplevelser for at hjælpe andre unge.</li>
                  <li>Bruger sociale medier og følger trends.</li>
                  <li>
                    Kan kommunikere skriftligt og skabe nærværende indhold.
                  </li>
                  <li>Har lyst til kreativ frihed og idéudvikling.</li>
                </ul>

                <p class="mt-4">Vi tilbyder:</p>
                <ul class="list-disc list-inside ml-4 space-y-2">
                  <li>Fleksibelt frivilligjob hjemmefra.</li>
                  <li>
                    SoMe-uddannelse, sparring og erfaring med branding og Canva.
                  </li>
                  <li>
                    Et trygt fællesskab med fokus på at gøre en forskel for
                    unge.
                  </li>
                </ul>
              </div>
            </article>
            <!-- Slide 2 -->
            <article
              x-show="info === 'info2'"
              x-cloak
              x-transition
              class="space-y-4"
            >
              <div class="text-start">
                <Heading htmlheading="h2" size="large"
                  >Skrive-gruppeleder</Heading
                >
                <p>
                  Bliv frivillig skrive-gruppeleder Vil du være med til at skabe
                  et trygt og kreativt digitalt fællesskab for unge, der elsker
                  at skrive? Som skrive-gruppeleder faciliterer du seks online
                  skriveaftener sammen med en medleder, hvor I guider en lille
                  gruppe unge gennem temaer, skriveøvelser og samtaler. Du får
                  et komplet forløb med materiale, så du skal blot præsentere
                  oplæg, skabe rummet og deltage i øvelserne sammen med
                  deltagerne.
                </p>

                <p class="mt-4">
                  Det hele foregår hjemmefra én fast aften om ugen.
                </p>

                <p class="mt-4">
                  Vi søger dig, der kan lide at skrive, kan skabe ro og nærvær i
                  samtaler, og som har lyst til at tage ansvar i et lille
                  fællesskab.
                </p>

                <p class="mt-4">
                  Du får erfaring med facilitering, digitale fællesskaber og
                  skriveprocesser – og et fleksibelt frivilligjob, hvor du gør
                  en konkret forskel for unge.
                </p>
              </div>
            </article>
            <!-- Slide 3 -->
            <article
              x-show="info === 'info3'"
              x-cloak
              x-transition
              class="space-y-4"
            >
              <div class="text-start">
                <Heading htmlheading="h2" size="large"
                  >Fantasy-gruppeleder</Heading
                >
                <p>
                  Vi søger frivillige fantasy-gruppeledere, der vil skabe et
                  trygt digitalt fællesskab for unge, som elsker fantasy. Som
                  gruppeleder møder du en lille fast gruppe online hver uge,
                  hvor I deler jeres interesse, taler om bøger, karakterer og
                  universer og laver hyggelige aktiviteter som tema-aftener,
                  quizzer og små lege.
                </p>

                <p class="mt-4">
                  Du står for at facilitere samtalerne sammen med en
                  med-gruppeleder, holde struktur på mødeaftenerne og skabe et
                  rart rum, hvor alle føler sig velkomne. Du skal ikke være
                  ekspert – bare kunne lytte, stille spørgsmål og være nysgerrig
                  på de unges perspektiver.
                </p>

                <p class="mt-4">
                  Alt foregår digitalt, og du får både online uddannelse,
                  supervision og et fællesskab med andre frivillige. Hvis du er
                  22-35 år, interesserer dig for fantasy og har lyst til at gøre
                  en forskel for unge, der søger et sted at høre til, så glæder
                  vi os til at høre fra dig.
                </p>

                <p class="mt-4">
                  Udfyld ansøgningsskemaet og vælg “Fantasy-gruppeleder”.
                </p>
              </div>
            </article>

            <!-- Slide 4 -->
            <article
              x-show="info === 'info4'"
              x-cloak
              x-transition
              class="space-y-4"
            >
              <div class="text-start">
                <Heading htmlheading="h2" size="large">Krea-gruppeleder</Heading
                >
                <p>
                  Vil du være frivillig gruppeleder for digitale krea-aftener
                  for unge?
                </p>

                <p class="mt-4">
                  Som gruppeleder skaber du et trygt digitalt fællesskab for
                  unge, der vil møde nye mennesker gennem hyggelige, kreative
                  aktiviteter. Sammen med en med-gruppeleder faciliterer I et
                  roligt online rum, hvor relationer kan gro, mens I sidder og
                  strikker, tegner, maler eller hvad end du selv har lyst til at
                  lave.
                </p>

                <p class="mt-4">
                  Du styrker dine kompetencer, får ledererfaring og får
                  indflydelse på et projekt i udvikling – alt sammen hjemmefra,
                  én hverdagsaften om ugen. UngTilUng står klar med digital
                  uddannelse, sparring og støtte hele vejen.
                </p>

                <p class="mt-4">
                  Hvis du er empatisk, nysgerrig på mennesker og har lyst til at
                  gøre en reel forskel for unge i et digitalt fællesskab – så er
                  det måske dig, vi leder efter.
                </p>
              </div>
            </article>

            <!-- Slide 5 -->
            <article
              x-show="info === 'info5'"
              x-cloak
              x-transition
              class="space-y-4"
            >
              <div class="text-start">
                <Heading htmlheading="h2" size="large">Chatter</Heading>
                <p>
                  Vores frivillige chattere er her for at støtte unge, der har
                  det svært – og gøre det på en måde, hvor du altid føler dig
                  mødt, set og forstået. Som frivillig bruger du dine egne
                  erfaringer fra svære perioder til at skabe tryghed og
                  motivation for andre unge, der står i lignende situationer.
                </p>

                <p class="mt-4">
                  Chatten er et sted, hvor unge kan åbne op og blive lyttet til
                  uden at blive dømt. Det handler ikke om terapi, men om nærvær,
                  forståelse og at give plads til det, der fylder. Som frivillig
                  bliver du klædt godt på med online uddannelse og løbende
                  supervision, så du altid føler dig støttet – både fagligt og
                  personligt.
                </p>

                <p class="mt-4">
                  Som chatter er du en vigtig del af et fællesskab, der brænder
                  for at styrke unges mentale trivsel. Du er med til at skabe et
                  rum, hvor unge kan mærke, at de ikke står alene, og hvor dine
                  ord kan gøre en reel forskel i deres hverdag.
                </p>
              </div>
            </article>
          </div>
        </div>
      </section>
    </div>
  </section>

  <!-- Bliv friviilig sektion-->

  <section
    class="mx-auto max-w-7xl px-4 mt-20 lg:mt-40 mb-30 grid grid-cols-1 md:grid-cols-2 gap-10"
  >
    <!-- billede -->
    <div
      id="fotoinview"
      class="relative mt-6 w-full max-w-[320px] sm:max-w-[400px] lg:max-w-[480px] mx-auto"
    >
      <!-- Orange border -->
      <div
        class="absolute right-[-22px]
           h-[90%] w-[95%]
           border-3 border-orange60
           rounded-2xl
           border-l-2 border-t-2"
      >
      </div>

      <!-- Billede container -->
      <div class="relative rounded-2xl overflow-hidden">
        <Image
          src={image10}
          alt="4 people hugging"
          class="rounded-2xl w-full h-auto object-cover"
        />
      </div>
    </div>

    <div>
      <!-- Boks -->
      <aside
        class="w-full max-h-lg max-w-lg bg-green40 rounded-2xl m-5 p-5 lg:p-9 mx-auto"
      >
        <div class="mb-5">
          <Heading htmlheading="h2" size="medium">Bliv frivillig nu!</Heading>
        </div>

        <p class="pr-9">
          På landsplan har vi mere end 100 frivillige, som støtter unge i deres
          udfordringer og er med til at øge deres trivsel. Har du lyst til at
          hjælpe unge, udvikle dine egne kompetencer og blive en del af et fedt
          frivilligt fællesskab? Så udfyld ansøgningsskemaet!
        </p>

        <div class="mt-4">
          <Button href="/frivillig" variant="secondary" size="medium">
            Send ansøgning
          </Button>
        </div>
      </aside>
    </div>
  </section>
</MainLayout>
<script>
  /* Import af Motion One bibliotek */
  import { animate, stagger, inView, scroll } from "motion";

  /* inView animation */
  inView("#fotoinview", () => {
    animate("#fotoinview", { x: [-2000, 0] }, { duration: 3 });
  });
</script>
