---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import Heading from "../components/Heading.astro";
import heroimage3 from "../assets/images/heroimage3.webp";
---

<MainLayout>
  <!-- Hero section -->

  <section
    class="w-full bg-gradient-to-b from-[#D6E6CD] to-[#FBF5EC] py-20 px-6"
  >
    <div
      class="max-w-7xl mx-auto grid grid-cols-1 lg:grid-cols-2 gap-16 items-center"
    >
      <!-- Headline & Tagline -->
      <div class="flex flex-col gap-2">
        <Heading htmlheading="h1" size="xlarge">Bliv frivllig</Heading>

        <p class="max-w-xl">
          Hos UngTilUng kan du være den, der gør hverdagen lidt lettere for
          andre unge
        </p>

        <div class="mt-4">
          <Button variant="secondary" size="medium"> Læs mere </Button>
        </div>
      </div>

      <!-- Hero image -->
      <div class="relative w-full max-w-[370px] mx-auto">
        <!-- Orange outline -->
        <div
          class="absolute right-0 top-10 h-[85%] w-[90%] border-3 border-orange60
       rounded-3xl border-l-0 border-t-0"
        >
        </div>

        <div class="relative rounded-3xl p-4">
          <Image
            src={heroimage3}
            alt="People happy"
            class="rounded-3xl w-full h-auto object-cover"
          />
        </div>
      </div>
    </div>
  </section>
</MainLayout>
