---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Tilbudscard from "../components/Tilbudscard.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import heroimage from "../assets/images/heroimage1.webp";
import image2 from "../assets/images/image2.webp";
import image6 from "../assets/images/image6.webp";
import image4 from "../assets/images/image4.webp";
import anonym from "../assets/images/anonym.webp";
import samtale from "../assets/images/samtale.webp";
import fælleskab from "../assets/images/fælleskab.webp";
import Heading from "../components/Heading.astro";
import Slider from "../components/Slider.astro";
import Form from "../components/Form.astro";
---

<MainLayout title="Ung til ung">
  <!-- Hero section -->

  <section
    class="w-full bg-gradient-to-b from-[#BDC3FC] to-[#FBF5EC] py-20 px-6"
  >
    <div
      class="max-w-7xl mx-auto grid grid-cols-1 lg:grid-cols-2 gap-16 items-center"
    >
      <!-- Headline & Tagline -->
      <div class="flex flex-col gap-2">
        <div class="animate__animated animate__fadeInLeft animate__once">
          <Heading htmlheading="h1" size="xlarge">Ung til ung</Heading>
        </div>

        <p class="text-lg max-w-xl">
          Dit digitale fællesskab, der hjælper dig skabe det liv, du ønsker —
          alene og sammen med andre
        </p>

        <div class="mt-4">
          <Button href="#ungtilung" variant="secondary" size="medium">
            Læs mere
          </Button>
        </div>
      </div>

      <!-- Hero image -->
      <div class="relative w-full max-w-[370px] mx-auto">
        <!-- Orange outline -->
        <div
          class="absolute right-0 top-10 h-[85%] w-[90%] border-3 border-orange60
           rounded-3xl border-l-0 border-t-0"
        >
        </div>

        <div class="relative rounded-3xl p-4">
          <Image
            src={heroimage}
            alt="3 happy people"
            class="rounded-xl w-full h-auto object-cover"
          />
        </div>
      </div>
    </div>
  </section>

  <!-- Hvad er ung til ung section -->

  <section id="ungtilung" class="mt-30">
    <div class="px-8">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-10 items-center">
        <!-- image -->
        <div class="relative w-full max-w-[400px] mx-auto">
          <!-- Orange outline -->
          <div
            class="absolute right-0 top-10 h-[85%] w-[90%] border-3 border-orange60
             rounded-xl border-l-0 border-t-0"
          >
          </div>

          <div class="relative rounded-xl p-4">
            <Image
              src={image2}
              alt="2 friends hugging"
              class="rounded-xl w-full h-auto object-cover"
            />
          </div>
        </div>

        <!-- tekst indhold -->
        <div class="text-base">
          <Heading htmlheading="h2" size="large"
            >Ingen kan alt – alle kan noget</Heading
          >

          <p class="mt-5 md:text-base max-w-prose">
            Hvis du, ligesom mange andre unge, oplever et behov for hjælp og
            støtte til dine udfordringer, tanker og oplevelser, er vi her for
            dig.
          </p>

          <p class="mt-4 md:text-base max-w-prose">
            Vi er mere end 100 frivillige, og vi har mange forskellige tilbud,
            som også kan hjælpe dig. Fælles for vores tilbud, er, at det hele
            foregår digitalt – så du kan sidde hjemmefra og tage dit mentale
            helbred alvorligt.
          </p>

          <div class="mt-4 max-w-prose">
            <p class="md:text-base">
              Opret en gratis profil og gå på opdagelse i vores tilbud af
            </p>
            <ul
              class="mt-3 list-inside list-disc space-y-2 text-slate-700 text-sm md:text-base"
            >
              <li>Online kurser med forskellige temaer</li>
              <li>Digitale fællesskaber med andre unge</li>
              <li>Digitale 1-1 samtaleforløb</li>
              <li>Anonym 1-1 chatrådgivning</li>
              <li>Nyhedsbreve med råd og værktøjer</li>
            </ul>
          </div>

          <div class="mt-8">
            <Button variant="primary" size="medium"> Tilmeld dig </Button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- vores tilbud section -->
  <div class="mt-30 justify-center text-center">
    <Heading htmlheading="h2" size="large">Vores tilbud</Heading>
  </div>
  <section class="justify-center items-center flex gap-5">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:flex lg:m-4 gap-19">
      <Tilbudscard
        url="/samtaleforlob"
        bg="bg-green40"
        icon="samtale.svg"
        iconalt="Samtaleforløb"
        title="Samtaleforløb"
      />

      <Tilbudscard
        url="/fællesskab"
        bg="bg-primaryblue60"
        icon="fælleskab.svg"
        iconalt="Fællesskab"
        title="Fællesskab"
      />

      <Tilbudscard
        url="/chat"
        bg="bg-primaryblue20"
        icon="chat.svg"
        iconalt="Anonym chat"
        title="Anonym chat"
      />

      <Tilbudscard
        url="/kurser"
        bg="bg-green80"
        icon="hjælp.svg"
        iconalt="Kurser"
        title="Kurser"
      />
    </div>
  </section>

  <!-- Volunteer section-->

  <section class="mt-30 grid grid-cols-1 md:grid-cols-2 gap-15">
    <!-- image -->
    <div class="relative w-full max-w-[380px] mx-auto">
      <!-- Orange outline -->
      <div
        class="absolute -top-6 right-[-25px]
       h-[92%] w-[95%]
       border-2 border-orange60
       rounded-3xl
       border-l-0 border-t-0"
      >
      </div>

      <!-- Image container -->
      <div class="relative rounded-3xl overflow-hidden shadow-sm">
        <Image
          src={image6}
          alt="2 happy people"
          class="rounded-3xl w-full h-auto object-cover"
        />
      </div>
    </div>
    <div>
      <!-- Boks -->
      <aside class="w-full max-w-sm bg-green60 rounded-xl pr-10 p-10">
        <div class="mb-">
          <Heading
            htmlheading="h2"
            size="xsmall"
            stylingclasses="text-primaryblue60"
          >
            Bliv friviilig
          </Heading>
        </div>

        <p>
          Hos UngTilUng er vi mere end 100 aktive frivillige, men vi har altid
          brug for flere, så vi sammen kan støtte unge i at skabe det liv, de
          ønsker. Bliv en del af vores stærke frivilligfællesskab og vær med til
          at hjælpe unge.
        </p>
        <div class="mt-4">
          <Button variant="secondary" size="medium"> Læs mere </Button>
        </div>
      </aside>
    </div>
  </section>
  <!-- Citat slider section-->
  <section class="mt-20">
    <Slider />
  </section>

  <!-- Form section-->
  <section
    class="mt-30 mb-20 grid grid-cols-1 lg:grid-cols-2 gap-10 items-center"
  >
    <div><Form /></div>

    <!-- image-->

    <div class="relative w-full max-w-[370px] mx-auto">
      <!-- Orange outline -->
      <div
        class="absolute right-0 top-10 h-[85%] w-[90%] border-3 border-orange60
         rounded-3xl border-l-0 border-t-0"
      >
      </div>

      <div class="relative rounded-3xl p-4">
        <Image
          src={image4}
          alt="2 happy people"
          class="rounded-3xl w-full h-auto object-cover"
        />
      </div>
    </div>
  </section>
</MainLayout>
