---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Tilbudscard from "../components/Tilbudscard.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import heroimage from "../assets/images/heroimage1.webp";
import image2 from "../assets/images/image2.webp";
import image9 from "../assets/images/image9.webp";
import image4 from "../assets/images/image4.webp";
import anonym from "../assets/images/anonym.webp";
import samtale from "../assets/images/samtale.webp";
import fælleskab from "../assets/images/fælleskab.webp";
import Heading from "../components/Heading.astro";
import Slider from "../components/Slider.astro";
import Form from "../components/Form.astro";
---

<MainLayout title="Ung til ung">
  <!-- Hero sektion -->

  <section
    class="w-full bg-gradient-to-b from-[#BDC3FC] to-[#FBF5EC] py-20 px-6"
  >
    <div
      class="mx-auto max-w-7xl px-4 grid grid-cols-1 lg:grid-cols-2 gap-16 items-center"
    >
      <!-- Headline & Tagline -->
      <div class="flex flex-col gap-2">
        <div class="animate__animated animate__fadeInLeft animate__once">
          <Heading htmlheading="h1" size="xlarge">Ung til ung</Heading>
        </div>
        <Heading htmlheading="h3" size="small">
          Dit digitale fællesskab, der hjælper dig skabe det liv, du ønsker —
          alene og sammen med andre</Heading
        >

        <div class="mt-4">
          <Button href="#ungtilung" variant="secondary" size="medium">
            Læs mere
          </Button>
        </div>
      </div>

      <!-- Hero billede -->
      <div
        class="hidden lg:block relative w-full max-w-[220px] sm:max-w-[280px] lg:max-w-[370px] mx-auto"
      >
        <!-- Orange border -->
        <div
          class="absolute right-0 top-6 sm:top-8 lg:top-10
         h-[85%] w-[90%]
         border-3 border-orange60
         rounded-2xl border-l-0 border-t-0"
        >
        </div>

        <div class="relative rounded-2xl p-2 sm:p-3 lg:p-4">
          <Image
            src={heroimage}
            alt="3 happy people"
            class="rounded-2xl w-full h-auto object-cover"
          />
        </div>
      </div>
    </div>
  </section>

  <!-- Hvad er ung til ung sektion -->

  <section id="ungtilung" class="mx-auto max-w-7xl px-4 mt-20">
    <div class="px-4">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-10 items-center">
        <!-- image -->
        <div
          class="relative w-full max-w-[300px] sm:max-w-[360px] lg:max-w-[400px] mx-auto"
        >
          <!-- Orange border -->
          <div
            class="absolute right-0 top-6 sm:top-8 lg:top-10
           h-[85%] w-[90%]
           border-3 border-orange60
           rounded-xl border-l-0 border-t-0"
          >
          </div>

          <div class="relative rounded-2xl p-3 sm:p-4">
            <Image
              src={image2}
              alt="2 friends hugging"
              class="rounded-xl w-full h-auto object-cover"
            />
          </div>
        </div>

        <!-- tekst indhold -->
        <div class="text-base pl-2 lg: pr-20">
          <Heading htmlheading="h2" size="large"
            >Ingen kan alt – alle kan noget</Heading
          >

          <p class="mt-5 md:text-base max-w-prose">
            Hvis du, ligesom mange andre unge, oplever et behov for hjælp og
            støtte til dine udfordringer, tanker og oplevelser, er vi her for
            dig.
          </p>

          <p class="mt-4 md:text-base max-w-prose">
            Vi er mere end 100 frivillige, og vi har mange forskellige tilbud,
            som også kan hjælpe dig. Fælles for vores tilbud, er, at det hele
            foregår digitalt – så du kan sidde hjemmefra og tage dit mentale
            helbred alvorligt.
          </p>

          <div class="mt-4 max-w-prose">
            <p class="md:text-base">
              Opret en gratis profil og gå på opdagelse i vores tilbud af
            </p>
            <ul
              id="stagger"
              class="mt-3 list-inside list-disc space-y-2 text-slate-700 text-sm md:text-base"
            >
              <li>Online kurser med forskellige temaer</li>
              <li>Digitale fællesskaber med andre unge</li>
              <li>Digitale 1-1 samtaleforløb</li>
              <li>Anonym 1-1 chatrådgivning</li>
              <li>Nyhedsbreve med råd og værktøjer</li>
            </ul>
          </div>

          <div class="mt-8">
            <Button variant="primary" size="medium"> Tilmeld dig </Button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Vores tilbud sektion -->
  <div class="mt-35 text-center">
    <Heading htmlheading="h2" size="large">Vores tilbud</Heading>
  </div>

  <section class="mx-auto max-w-7xl px-4 mt-20">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 max-w-7xl">
      <Tilbudscard
        url="/vorestilbud"
        bg="bg-green60"
        icon="samtale.svg"
        iconalt="Samtaleforløb"
        title="Samtaleforløb"
      />

      <Tilbudscard
        url="/vorestilbud"
        bg="bg-primaryblue60"
        icon="fælleskab.svg"
        iconalt="Fællesskab"
        title="Fællesskab"
      />

      <Tilbudscard
        url="/vorestilbud"
        bg="bg-primaryblue80"
        icon="chat.svg"
        iconalt="Anonym chat"
        title="Anonym chat"
      />

      <Tilbudscard
        url="/vorestilbud"
        bg="bg-green80"
        icon="hjælp.svg"
        iconalt="Kurser"
        title="Kurser"
      />
    </div>
  </section>

  <!-- Bliv frivillig sektion-->

  <section
    class="mx-auto max-w-7xl px-4 mt-35 grid grid-cols-1 md:grid-cols-2 gap-10"
  >
    <!-- billede -->
    <div
      id="fotoinview"
      class="relative w-full max-w-[320px] sm:max-w-[400px] lg:max-w-[480px] mx-auto"
    >
      <!-- Orange border -->
      <div
        class="absolute right-[-22px]
           h-[90%] w-[95%]
           border-3 border-orange60
           rounded-2xl
           border-l-2 border-t-2"
      >
      </div>

      <!-- Billede container -->
      <div class="relative rounded-2xl overflow-hidden">
        <Image
          src={image9}
          alt="4 people hugging"
          class="rounded-2xl w-full h-auto object-cover"
        />
      </div>
    </div>

    <div>
      <!-- Boks -->
      <aside
        class="w-full max-h-lg max-w-lg bg-green60 rounded-2xl p-6 lg:p-10 mx-auto"
      >
        <div class="mb-5">
          <Heading htmlheading="h2" size="medium">Bliv frivillig</Heading>
        </div>

        <p class="text-beige pr-9">
          Hos UngTilUng er vi mere end 100 aktive frivillige, men vi har altid
          brug for flere, så vi sammen kan støtte unge i at skabe det liv, de
          ønsker. Bliv en del af vores stærke frivilligfællesskab og vær med til
          at hjælpe unge.
        </p>

        <div class="mt-4">
          <Button href="/frivillig" variant="secondary" size="medium">
            Læs mere
          </Button>
        </div>
      </aside>
    </div>
  </section>
  <!-- Citat slider sektion-->
  <section class="mt-35">
    <Slider />
  </section>

  <!-- Form sektion-->
  <section
    class="mx-auto max-w-6xl px-6 mt-35 mb-35 grid grid-cols-1 lg:grid-cols-2 gap-10"
  >
    <div><Form /></div>

    <!-- Billede -->
    <div
      class="relative w-full max-w-[280px] sm:max-w-[330px] lg:max-w-[370px] mx-auto"
    >
      <!-- Orange border -->
      <div
        class="absolute right-0 top-6 sm:top-8 lg:top-10
           h-[85%] w-[90%]
           border-3 border-orange60
           rounded-2xl border-l-0 border-t-0"
      >
      </div>

      <div class="relative rounded-2xl p-3 sm:p-4">
        <Image
          src={image4}
          alt="2 happy people"
          class="rounded-2xl w-full h-auto object-cover"
        />
      </div>
    </div>
  </section>
</MainLayout>

<script>
  /* Import af Motion One bibliotek */
  import { animate, stagger, inView, scroll } from "motion";

  /* Stagger animation */
  inView("#stagger", () => {
    animate(
      "#stagger li",
      { opacity: [0, 1] },
      {
        delay: stagger(1, { startDelay: 1 }),
      }
    );
  });

  /* inView animation */
  inView("#fotoinview", () => {
    animate("#fotoinview", { x: [-800, 0] }, { duration: 3 });
  });
</script>
