---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import MedarbejderCard from "../components/Medarbejdercard.astro";
import heroimage5 from "../assets/images/heroimage5.webp";
import imageomos1 from "../assets/images/imageomos1.webp";
import Slider3 from "../components/Slider3.astro";

import Heading from "../components/Heading.astro";
---

<MainLayout>
  <!-- Hero section -->

  <section
    class="w-full bg-gradient-to-b from-[#FFD699] to-[#FBF5EC] py-20 px-6"
  >
    <div
      class="max-w-7xl mx-auto grid grid-cols-1 lg:grid-cols-2 gap-16 items-center"
    >
      <!-- Headline & Tagline -->
      <div class="flex flex-col gap-2">
        <div class="animate__animated animate__fadeInLeft animate__once">
          <Heading htmlheading="h1" size="xlarge">Om os</Heading>
        </div>
        <Heading htmlheading="h3" size="small">
          Bliv klogere på UngTilUng og vores vision for et stærkt ungt digitalt
          fællesskab
        </Heading>

        <div class="mt-4">
          <Button href="#vision" variant="secondary" size="medium">
            Læs mere
          </Button>
        </div>
      </div>

      <!-- Hero image -->
      <div class="hidden lg:block relative w-full max-w-[370px] mx-auto">
        <!-- Orange outline -->
        <div
          class="absolute right-0 top-10 h-[85%] w-[90%] border-3 border-orange60
         rounded-2xl border-l-0 border-t-0"
        >
        </div>

        <div class="relative rounded-2xl p-4">
          <Image
            src={heroimage5}
            alt="2 happy people"
            class="rounded-2xl w-full h-auto object-cover"
          />
        </div>
      </div>
    </div>
  </section>

  <!-- Hvem er ungtilung section -->

  <section class="mt-30 grid grid-cols-1 md:grid-cols-2 gap-10">
    <!-- image -->
    <div
      id="fotoinview"
      class="relative w-full max-w-[320px] sm:max-w-[400px] lg:max-w-[480px] mx-auto"
    >
      <!-- Orange outline -->
      <div
        class="absolute right-[-22px]
           h-[90%] w-[95%]
           border-3 border-orange60
           rounded-2xl
           border-l-2 border-t-2"
      >
      </div>

      <!-- Image container -->
      <div class="relative rounded-2xl overflow-hidden">
        <Image
          src={imageomos1}
          alt="4 people hugging"
          class="rounded-2xl w-full h-auto object-cover"
        />
      </div>
    </div>

    <div class="pl-5">
      <!-- tesk section -->

      <div class="mb-5">
        <Heading htmlheading="h2" size="medium">Hvem er Ungtilung?</Heading>
      </div>

      <p class="pr-25">
        iftet i 2013 med formålet om at hjælpe unge mellem 16-35 år med at
        styrke deres trivsel – gennem digitale initiativer. UngTilUng er drevet
        af et fagligt stærkt team og mere end 100 passionerede frivillige. De
        fleste med egne erfaringer, som derfor til fulde forstår, hvordan det er
        at være ung med de udfordringer, det kan medføre.
      </p>

      <div class="mt-4">
        <Button href="#vision" variant="secondary" size="medium">
          Læs mere
        </Button>
      </div>
    </div>
  </section>

  <!-- Mød teamet section -->

  <section class="mt-40">
    <div class="max-w-7xl mx-auto px-4">
      <div class="text-center mb-10">
        <Heading htmlheading="h2" size="large">Mød teamet</Heading>
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8
             justify-items-center items-stretch"
      >
        <div class="max-w-[320px] w-full min-h-[620px]">
          <MedarbejderCard
            url="/team/jannik"
            image="jannik.webp"
            imageAlt="Jannik Dobusz"
            name="Jannik Dobusz"
            role="Direktør"
            bio="Jeg startede UngTilUng i 2013 og har det overordnede ansvar for udviklingen og driften af UngTilUng."
            email="jdj@ungtilung.com"
            linkedin="https://www.linkedin.com/in/jannik"
          />
        </div>

        <div class="max-w-[320px] w-full min-h-[620px]">
          <MedarbejderCard
            url="/team/pernille"
            image="pernille.webp"
            imageAlt="Pernille Skov"
            name="Pernille Skov"
            role="Projektleder for rådgivning"
            bio="Jeg er ansvarlig for frivillige chattere og supervisorer samt udviklingen af vores rådgivningstilbud i UngTilUng. Psykoterapeut og Cand. Mag. i Psykologi & Medievidenskab"
            email="ps@ungtilung.com"
            linkedin=""
          />
        </div>

        <div class="max-w-[320px] w-full min-h-[620px]">
          <MedarbejderCard
            url="/team/julie"
            image="julie.webp"
            imageAlt="Julie Marie Jensen"
            name="Julie Marie Jensen"
            role="Projektleder for digitale fællesskaber"
            bio="Jeg er ansvarlig for frivillige i kommunikationsteamet og for gruppelederne for vores fællesskaber samt udviklingen af vores kommunikations- og fællesskabstilbud. Cand. Mag. i Dansk & Psykologi"
            email="jmj@ungtilung.com"
            linkedin=""
          />
        </div>

        <div class="max-w-[320px] w-full min-h-[620px]">
          <MedarbejderCard
            url="/team/louise"
            image="louise.webp"
            imageAlt="Louise Thorendal"
            name="Louise Thorendal"
            role="Administrativ medarbejder"
            bio="Jeg sidder primært med administrativt og IT/teknik, og derudover er jeg studerende på CBS, hvor jeg læser psykologi og erhvervsøkonomi."
            email="lt@ungtilung.com"
            linkedin=""
          />
        </div>

        <div class="max-w-[320px] w-full min-h-[620px]">
          <MedarbejderCard
            url="/team/rosalina"
            image="rosalina.webp"
            imageAlt="Rosalina Clausen"
            name="Rosalina Clausen"
            role="Content Creator"
            bio="Jeg er ansvarlig for vores sociale medier og læser derudover på RUC."
            email="rgc@ungtilung.com"
            linkedin=""
          />
        </div>

        <div class="max-w-[320px] w-full min-h-[620px]">
          <MedarbejderCard
            url="/team/amalie"
            image="amalie.webp"
            imageAlt="Amalie Winther"
            name="Amalie Winther"
            role="Frivilligkoordinator"
            bio="Jeg arbejder med rekruttering og onboarding af frivillige og har fokus på at sikre god trivsel, opfølgning og fastholdelse. Cand.Soc i Udviklingsstudier og internationale forhold"
            email="awa@ungtilung.com"
            linkedin=""
          />
        </div>

        <div class="max-w-[320px] w-full min-h-[620px]">
          <MedarbejderCard
            url="/team/mikkel"
            image="mikkel.webp"
            imageAlt="Mikkel Birger"
            name="Mikkel Birger"
            role="Analyse & evaluering"
            bio="Jeg arbejder med datanalyse og evaluering af vores frivillige og aktiviteter, så vi kan sikre de bedste processer og optimale forhold for vores unge og frivillige."
            email="mb@f-ungtrivsel.dk"
            linkedin=""
          />
        </div>
      </div>
    </div>
  </section>

  <!-- Vores vision section -->
  <section id="vision" class="mt-40 mb-30">
    <Slider3 />
  </section>
</MainLayout>
<script>
  /* Import af Motion One bibliotek */
  import { animate, stagger, inView, scroll } from "motion";

  /* inView animation */
  inView("#fotoinview", () => {
    animate("#fotoinview", { x: [-2000, 0] }, { duration: 3 });
  });
</script>
