---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import MedarbejderCard from "../components/Medarbejdercard.astro";
import heroimage5 from "../assets/images/heroimage5.webp";
import imageomos1 from "../assets/images/imageomos1.webp";
import Slider3 from "../components/Slider3.astro";

import Heading from "../components/Heading.astro";
---

<MainLayout>
  <!-- Hero section -->

  <section
    class="w-full bg-gradient-to-b from-[#FFD699] to-[#FBF5EC] py-20 px-6"
  >
    <div
      class="max-w-7xl mx-auto grid grid-cols-1 lg:grid-cols-2 gap-16 items-center"
    >
      <!-- Headline & Tagline -->
      <div class="flex flex-col gap-2">
        <Heading htmlheading="h1" size="xlarge">Om os</Heading>

        <p class="text-lg text-darkblue max-w-xl">
          Bliv klogere på UngTilUng og vores vision for et stærkt ungt digitalt
          fællesskab
        </p>

        <div class="mt-4">
          <Button variant="secondary" size="medium"> Læs mere </Button>
        </div>
      </div>

      <!-- Hero image -->
      <div class="relative w-full max-w-[370px] mx-auto">
        <!-- Orange outline -->
        <div
          class="absolute right-0 top-10 h-[85%] w-[90%] border-3 border-orange60
         rounded-3xl border-l-0 border-t-0"
        >
        </div>

        <div class="relative rounded-3xl p-4">
          <Image
            src={heroimage5}
            alt="2 happy people"
            class="rounded-3xl w-full h-auto object-cover"
          />
        </div>
      </div>
    </div>
  </section>

  <!-- Hvem er ungtilung section -->
  <section class="mt-30 grid grid-cols-1 md:grid-cols-2">
    <!-- image -->
    <div class="relative w-full max-w-[380px] mx-auto">
      <!-- Orange outline -->
      <div
        class="absolute -top-6 right-[-25px]
                 h-[92%] w-[95%]
                 border-2 border-orange60
                 rounded-3xl
                 border-l-0 border-t-0"
      >
      </div>

      <!-- Image container -->
      <div class="relative rounded-3xl overflow-hidden shadow-sm">
        <Image
          src={imageomos1}
          alt="2 happy people"
          class="rounded-3xl w-full h-auto object-cover"
        />
      </div>
    </div>

    <!-- tekst indhold -->
    <div class="m-6 text-base lg:pl-8">
      <Heading htmlheading="h2" size="large">Hvem er Ungtilung?</Heading>

      <p class="mt-5 md:text-base max-w-prose">
        UngTilUng er et projekt under Foreningen UngTrivsel (Tidligere
        Foreningen Den Boligsociale Fond). UngTilUng blev stiftet i 2013 med
        formålet om at hjælpe unge mellem 16-35 år med at styrke deres trivsel –
        gennem digitale initiativer. UngTilUng er drevet af et fagligt stærkt
        team og mere end 100 passionerede frivillige. De fleste med egne
        erfaringer, som derfor til fulde forstår, hvordan det er at være ung med
        de udfordringer, det kan medføre.
      </p>
    </div>
  </section>

  <!-- Mød teamet section -->

  <section class="mt-30">
    <div class="max-w-7xl mx-auto px-4">
      <div class="text-center mb-10">
        <Heading htmlheading="h2" size="large">Mød teamet</Heading>
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 justify-items-center items-stretch"
      >
        <!-- Wrap hvert kort i en wrapper der bestemmer bredden -->
        <div class="max-w-[320px] w-full">
          <MedarbejderCard
            url="/team/jannik"
            image="jannik.webp"
            imageAlt="Jannik Dobusz"
            name="Jannik Dobusz"
            role="Direktør"
            bio="Jeg startede UngTilUng i 2013 og har det overordnede ansvar for udviklingen og driften af UngTilUng."
            email="jdj@ungtilung.com"
            linkedin="https://www.linkedin.com/in/jannik"
          />
        </div>

        <!-- Pernille -->
        <div class="max-w-[320px] w-full">
          <MedarbejderCard
            url="/team/pernille"
            image="pernille.webp"
            imageAlt="Pernille Skov"
            name="Pernille Skov"
            role="Projektleder for rådgivning"
            bio="Jeg er ansvarlig for frivillige chattere og supervisorer samt udviklingen af vores rådgivningstilbud i UngTilUng. Psykoterapeut og Cand. Mag. i Psykologi & Medievidenskab"
            email="ps@ungtilung.com"
            linkedin=""
          />
        </div>

        <!-- Julie -->
        <div class="max-w-[320px] w-full">
          <MedarbejderCard
            url="/team/julie"
            image="julie.webp"
            imageAlt="Julie Marie Jensen"
            name="Julie Marie Jensen"
            role="Projektleder for digitale fælleskaber"
            bio="Jeg er ansvarlig for frivillige i kommunikationsteamet og for gruppelederne for vores fællesskaber samt udviklingen af vores kommunikations- og fællesskabstilbud. Cand. Mag. i Dansk & Psykologi"
            email="jmj@ungtilung.com"
            linkedin=""
          />
        </div>

        <!-- Louise -->
        <div class="max-w-[320px] w-full">
          <MedarbejderCard
            url="/team/louise"
            image="louise.webp"
            imageAlt="Louise Thorendal"
            name="Louise Thorendal"
            role="Administrativ medarbejder"
            bio="Jeg sidder primært med administrativt og IT/teknik, og derudover er jeg er studerende på CBS, hvor jeg læser psykologi og erhvervsøkonomi."
            email="lt@ungtilung.com"
            linkedin=""
          />
        </div>

        <!-- Rosalina -->
        <div class="max-w-[320px] w-full">
          <MedarbejderCard
            url="/team/rosalina"
            image="rosalina.webp"
            imageAlt="Rosalina Clausen"
            name="Rosalina Clausen"
            role="Content Creator"
            bio="Jeg er ansvarlig for vores sociale medier og læser derudover på RUC."
            email="rgc@ungtilung.com"
            linkedin=""
          />
        </div>

        <!-- Amalie -->
        <div class="max-w-[320px] w-full">
          <MedarbejderCard
            url="/team/amalie"
            image="amalie.webp"
            imageAlt="Amalie Winther"
            name="Amalie Winther"
            role="Frivilligkoordinator"
            bio="Jeg arbejder med rekruttering og onboarding af frivillige og har fokus på at sikre god trivsel, opfølgning og fastholdelse. Cand.Soc i Udviklingsstudier og internationale forhold"
            email="awa@ungtilung.com"
            linkedin=""
          />
        </div>

        <!-- Mikkel -->
        <div class="max-w-[320px] w-full">
          <MedarbejderCard
            url="/team/mikkel"
            image="mikkel.webp"
            imageAlt="Mikkel Birger"
            name="Mikkel Birger"
            role="Analyse & evaluering"
            bio="Jeg arbejder med datanalyse og evaluering af vores frivillige og aktiviteter, så vi kan sikre de bedste processer og optimale forhold for vores unge og frivillige."
            email="mb@f-ungtrivsel.dk"
            linkedin=""
          />
        </div>
      </div>
    </div>
  </section>

  <!-- Vores vision section -->
  <section class="mt-20 mb-20">
    <Slider3 />
  </section>
</MainLayout>
