---
const { variant = "primary", size = "large" } = Astro.props;

const buttonStyling = "btn my-2 border-2 shadow-none rounded-xl";

// Variants
const variantClasses = {
  primary:
    "bg-primaryblue60 text-beige  hover:text-primaryblue60 border-primaryblue100 hover:bg-beige  hover:border-primaryblue60",
  secondary:
    "bg-orange60 text-beige hover:bg-blue hover:text-primaryblue100  hover:bg-beige border-orange100 hover:border-orange60",
};

// Sizes
const sizeClasses = {
  large: "px-12 py-6",
  medium: "px-12 py-2",
  small: "px-4 py-2",
};
---

<button
  class:list={[
    buttonStyling,
    variantClasses[variant],
    sizeClasses[size],
    "cursor-pointer",
  ]}
>
  <slot />
</button>
