---
const { variant = "primary", size = "large" } = Astro.props;

const buttonStyling = "btn my-2 border-2 shadow-none rounded-xl";

// Variants
const variantClasses = {
  primary:
    "bg-primaryblue60 text-beige hover:bg-beige border-primaryblue100 hover:border-primaryblue100",
  secondary:
    "bg-orange60 text-beige hover:bg-blue border-orange100 hover:border-orange100",
};

// Sizes
const sizeClasses = {
  large: "px-12 py-6",
  medium: "px-8 py-4",
  small: "px-4 py-2",
};
---

<button
  class:list={[
    buttonStyling,
    variantClasses[variant],
    sizeClasses[size],
    "cursor-pointer",
  ]}
>
  <slot />
</button>
