---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import Heading from "../components/Heading.astro";
import rådgivning from "../assets/images/rådgivning.webp";
import fn from "../assets/images/fn.webp";
import mind from "../assets/images/mind.webp";
---

<footer class="bg-beige border-t-2 border-primaryblue60 py-12 px-6">
  <div
    class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-4 gap-12 items-start"
  >
    <!-- Kolonne 1: Logo -->
    <div class="flex flex-col md:items-start">
      <img src="/ungtilunglogo.svg" alt="Logo" class="h-10 w-auto mb-8" />
    </div>

    <!-- Kolonne 2: Find os -->
    <div class="flex flex-col items-center text-center">
      <Heading htmlheading="h2" size="small">Find os</Heading>

      <div class="flex flex-col gap-6">
        <a href="#" class="flex justify-center">
          <img src="/facebook.svg" class="h-10 w-10" alt="Facebook" />
        </a>
        <a href="#" class="flex justify-center">
          <img src="/instagram.svg" class="h-10 w-10" alt="Instagram" />
        </a>
        <a href="#" class="flex justify-center">
          <img src="/tiktok.svg" class="h-10 w-10" alt="TikTok" />
        </a>
      </div>
    </div>

    <!-- Kolonne 3: Kontakt + partnerlogoer -->
    <div
      class="flex flex-col items-center md:items-end text-end md:text-left gap-10"
    >
      <!-- Kontakt -->
      <div>
        <Heading htmlheading="h2" size="small">Kontakt os</Heading>
        <p class="leading-relaxed">
          UngTilUng<br />
          Esromgade 15, 5<br />
          2200 København N<br /><br />
          Email: hej@ungtilung.com<br />
          CVR: 30940261
        </p>
      </div>

      <!-- Partnerlogoer -->
      <div
        class="flex flex-col sm:flex-row items-center sm:justify-end gap-6 mt-6"
      >
        <Image
          src={fn}
          alt="FN verdensmål logo"
          class="w-full h-auto object-cover"
        />
        <Image src={mind} alt="logo" class="w-full h-auto object-cover" />
        <Image src={rådgivning} alt="logo" class="w-full h-auto object-cover" />
      </div>
    </div>
  </div>
</footer>
