---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import Heading from "../components/Heading.astro";
import rådgivning from "../assets/images/rådgivning.webp";
import fn from "../assets/images/fn.webp";
import mind from "../assets/images/mind.webp";
---

<footer class="bg-beige border-t-2 border-primaryblue60 py-12 px-6">
  <div
    class="mx-auto max-w-7xl px-4 grid grid-cols-1 md:grid-cols-4 gap-8 items-start"
  >
    <!-- logo -->
    <div class="flex items-start">
      <img src="/ungtilunglogo.svg" alt="UngTilUng logo" class="h-10 w-auto" />
    </div>

    <!-- Find os  -->
    <div class="flex flex-col items-start md:items-start text-left">
      <div class="mb-3">
        <Heading htmlheading="h2" size="small">Find os</Heading>
      </div>
      <!-- ikoner  -->
      <div class="flex flex-col gap-4">
        <a href="https://www.facebook.com/ungtilungcom" class="block"
          ><img src="/facebook.svg" alt="Facebook" class="h-8 w-8" /></a
        >
        <a href="https://www.instagram.com/ungtilung/?hl=en" class="block"
          ><img src="/instagram.svg" alt="Instagram" class="h-8 w-8" /></a
        >
        <a href="https://www.tiktok.com/@ungtilung" class="block"
          ><img src="/tiktok.svg" alt="TikTok" class="h-8 w-8" /></a
        >
      </div>
    </div>

    <!-- Kontakt os  -->
    <div class="flex flex-col items-start md:items-start text-left">
      <div class="mb-3">
        <Heading htmlheading="h2" size="small">Kontakt os</Heading>
      </div>
      <p class="leading-relaxed">
        UngTilUng<br />
        Esromgade 15, 5<br />
        2200 København N<br /><br />
        Email: hej@ungtilung.com<br />
        CVR: 30940261
      </p>
    </div>

    <!-- Partnerlogoer -->
    <div class="flex w-full">
      <div class="ml-auto flex flex-col items-end space-y-4">
        <img class="h-10 w-auto object-contain" src="fn.svg" alt="logo" />
        <img class="h-1 w-auto object-contain" src="mind.svg" alt="logo" />
        <img class="h-20 w-auto object-contain" src="danmark.svg" alt="logo" />
      </div>
    </div>
  </div>
</footer>
