---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Heading from "./Heading.astro";
---

<section class="flex items-center justify-center min-h-screen">
  <div>
    <!-- Beskrivelsen af hvad det vil sige at være frivillig start -->
    <div class="text-center">
      <Heading htmlheading="h3" size="medium">Tilmeld dig her</Heading>
    </div>
    <p class="text-center md:w-[60ch]">
      Skriv lidt om dig selv og hvorfor du gerne vil være frivillig, så
      kontakter vi dig og finder den bedste frivillig mulighed for dig!
    </p>
    <!-- Beskrivelsen af hvad det vil sige at være frivillig slut -->

    <div class="max-w-md mx-auto">
      <div class="formstart">
        <!-- navn sektion start -->
        <section>
          <div>
            <label>
              <span>Dit navn</span><br />
              <input
                type="text"
                class="border-2 border-darkblue rounded-lg focus:border-orange focus:ring focus:ring-brightorange focus:ring-opacity-50"
                placeholder="Navn"
              />
            </label>
          </div>
        </section>
        <!-- navn sektion slut -->

        <!-- email sektion start -->
        <section>
          <div>
            <label>
              <span class="mb-2">Din email</span><br />
              <input
                type="email"
                class="w-full rounded-lg border-2 border-darkblue focus:border-orange focus:ring focus:ring-brightorange focus:ring-opacity-50"
                placeholder="Email"
              />
            </label>
          </div>
        </section>
        <!-- email sektion slut -->

        <!-- udfyld sektion start -->
        <section>
          <div>
            <label>
              <span class="mb-2">Udfyldningsblanket</span><br />
              <textarea
                class="w-full rounded-lg border-2 border-darkblue focus:border-orange focus:ring focus:ring-brightorange focus:ring-opacity-50"
                placeholder="Jeg ønsker at blive frivillig fordi..."
                rows="8"></textarea>
            </label>
          </div>
        </section>
        <!-- udfyld sektion slut -->

        <!-- har du været på nakke før start -->
        <form>
          <input type="radio" id="html" name="fav_language" value="HTML" />
          <label for="html" class="text-darkblue"
            >Ja, jeg har været på Nakkefestival før</label
          ><br />
          <input type="radio" id="css" name="fav_language" value="CSS" />
          <label for="css" class="text-darkblue"
            >Nej, det bliver min første</label
          ><br />
        </form>
        <!-- har du været på nakke før slut -->

        <form id="volunteerForm">
          <div class="flex items-center justify-center m-4">
            <button
              id="openPopup"
              type="button"
              class="btn my-2 border-2 shadow-none rounded-xl bg-darkblue text-beige hover:bg-blue border-blue hover:border-darkblue cursor cursor-(--handcursor)"
            >
              Send din tilmelding
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
